.standard-write-button {
    -fx-pref-height: 32px;
    -fx-padding: 8px 12px 8px 12px;
    -fx-background-color: #006AEE;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-text-fill: white;
    -fx-font-weight: 600;
    -fx-font-size: 14px;
    -fx-graphic-text-gap: 8px;
    -fx-cursor: hand;
}

.standard-write-button:hover {
    -fx-background-color: #0068C9;
}

.standard-write-button-disabled {
    -fx-pref-height: 32px;
    -fx-background-color: #5588DD;
    -fx-padding: 4px 12px 4px 12px;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-text-fill: white;
    -fx-font-weight: 500;
    -fx-font-size: 14px;
    -fx-graphic-text-gap: 8px;
}

.standard-action-button {
    -fx-padding: 4px 8px 4px 8px;
    -fx-background-color: #eeeeee;
    -fx-border-color: #d0d0d0;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-font-weight: 600;
    -fx-font-size: 13px;
    -fx-graphic-text-gap: 8px;
    -fx-cursor: hand;
}

.standard-action-button:hover {
    -fx-background-color: #e0e0e0;
}

.standard-delete-button {
    -fx-pref-height: 32px;
    -fx-padding: 4px 12px 4px 12px;
    -fx-background-color: #B22222;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-text-fill: white;
    -fx-font-weight: 500;
    -fx-font-size: 14px;
    -fx-graphic-text-gap: 8px;
    -fx-cursor: hand;
}

.standard-delete-button:hover {
    -fx-background-color: #A52A2A;
}

.standard-cancel-button {
    -fx-pref-height: 32px;
    -fx-padding: 4px 12px 4px 12px;
    -fx-background-color: #eeeeee;
    -fx-border-color: #d0d0d0;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-font-weight: 500;
    -fx-font-size: 14px;
    -fx-graphic-text-gap: 8px;
    -fx-cursor: hand;
}

.standard-cancel-button:hover {
    -fx-background-color: #e0e0e0;
}

/* Button with default JavaFX styles removed */
.no-style-button {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-cursor: hand;
}

.no-style-button:hover {
    -fx-background-color: transparent;
}

.no-style-button:pressed {
    -fx-background-color: transparent;
}

.common-button {
    -fx-background-color: #fefefe;
    -fx-padding: 4px 2px 4px 2px;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.cancel-edit-button {
    -fx-pref-height: 32px;
    -fx-padding: 8px 10px;
    -fx-background-color: #e6e6e6;
    -fx-border-color: #d3d3d3;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-graphic-text-gap: 8px;
    -fx-cursor: hand;
}

.cancel-edit-button:hover {
    -fx-background-color: #d9d9d9;
}