.standard-write-button {
    -fx-pref-height: 32px;
    -fx-background-color: #006AEE;
    -fx-text-fill: white;
    -fx-font-weight: normal;
    -fx-font-size: 14px;
    -fx-padding: 4px 12px 4px 12px;
    -fx-graphic-text-gap: 8px;
    -fx-cursor: hand;
}

.standard-write-button:hover {
    -fx-background-color: #0068C9;
}

/* Button with default JavaFX styles removed */
.no-style-button {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-cursor: hand;
}

.no-style-button:hover {
    -fx-background-color: transparent;
}

.no-style-button:pressed {
    -fx-background-color: transparent;
}

.common-button {
    -fx-background-color: #fefefe;
    -fx-padding: 4px 2px 4px 2px;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}