.general-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.pseudo-link {
    -fx-background-color: transparent;
    -fx-text-fill: #007aee;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-cursor: hand;
}

.pseudo-link:hover {
    -fx-text-fill: #0056b3;
    -fx-underline: true;
}

.menu-item:hover {
    -fx-background-color: #006AEE;
}

.custom-combo-box {
    -fx-pref-height: 32px;
    -fx-background-color: #ffffff;
    -fx-font-weight: bold;
    -fx-border-color: #c0c0c0;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-cursor: hand;
}

.custom-combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.custom-combo-box .arrow {
    -fx-background-color: #c0c0c0;
}