.entity-header-container {
    -fx-padding: 20;
}

.entity-page-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.entity-page-description {
    -fx-font-size: 14px;
}

/* Tabs */
.tab-pane {
    -fx-tab-min-height: 32px;
}

.tab-pane .tab-header-area .headers-region {
    -fx-padding: 0;
    -fx-border-color: #d1d3bb;
    -fx-border-width: 0 0 1px 0;
    -fx-alignment: center-left;
}

.tab-pane .tab-header-background {
    -fx-background-color: transparent; /* Hide the tab header background */
}

.tab {
    -fx-background-color: transparent; /* Hide individual tab backgrounds */
    -fx-padding: 12px;
    -fx-cursor: hand;
}

.tab:selected {
    -fx-background-color: #ffffff; /* Background of selected tab, adjust color as needed */
}

.tab .tab-label {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.tab-pane:focused, .tab:selected:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent; /* Remove focus ring */
}

.tab:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}