

.entity-header-container {
    -fx-padding: 20;
    -fx-background-color: #eeeeee;
    -fx-border-color: #c0c0c0;
}

.entity-page-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.entity-page-description {
    -fx-font-size: 14px;
}

/* Tabs */
.tab-pane .tab-header-area .headers-region {
    -fx-padding: 0;
    -fx-alignment: center-left;
}

.tab-pane .tab-header-background {
    -fx-background-color: transparent;
}

.tab {
    -fx-background-color: transparent;
    -fx-padding: 16px;
    -fx-cursor: hand;
}

.tab:selected {
    -fx-background-color: #f0f0f0;
    -fx-border-color: transparent transparent #0077dd transparent;
    -fx-border-width: 0 0 2px 0;
}

.tab .tab-label {
    -fx-padding: 0 0 0 0;
    -fx-font-size: 17px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.tab-pane:focused, .tab:selected:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.custom-tab-style {
    -fx-background-color: green;
    /* Add more custom styles as needed */
}