/* Tabs */
.custom-tab {
    /* Use important to overwrite general tab styles */
    -fx-padding: 8px 10px 8px 10px !important;
    -fx-background-color: #f0f0f0 !important;
    -fx-border-width: 1px 1px 1px 1px !important;
    -fx-border-color: #c0c0c0 !important;
    -fx-border-radius: 5 5 0 0 !important;
}

.custom-tab .tab-label {
    -fx-font-size: 14px !important;
}

.custom-tab:selected {
    -fx-background-color: #d0d0d0 !important;
}

.create-stage-form {
    -fx-padding: 20px;
    -fx-border-color: #c0c0c0;
    -fx-border-width: 1px;
}

/* Toolbar */
.section-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.edit-configuration-sublabel {
    -fx-padding: 0 4px 0 0;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.add-button {
    -fx-background-color: #0077C7;
    -fx-cursor: hand;
}

.add-button:hover {
    -fx-background-color: #0058A3;
}

.update-button {
    -fx-background-color: #00A062;
    -fx-cursor: hand;
}

.update-button:hover {
    -fx-background-color: #007D4C;
}

.delete-button {
    -fx-background-color: #B71011;
    -fx-cursor: hand;
}

.delete-button:hover {
    -fx-background-color: #A50F0F;
}

.allocate-resources-button {
    -fx-background-color: #00A062;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.allocate-resources-button:hover {
    -fx-background-color: #007D4C;
}