.form-container {
    -fx-background-color: white;
    -fx-padding: 40px 80px;
}

.title-container {
    -fx-padding: 0px 0px 20px 0px;
    -fx-alignment: CENTER;
}

.form-label {
    -fx-width: 100%;
    -fx-padding: 16px 0px 8px 4px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.form-title {
    -fx-text-align: center;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.radio-button-group {
    -fx-spacing: 6px;
}

.radio-button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}