.header {
    -fx-background-color: #ffffff;
    -fx-padding: 20px;
    -fx-spacing: 20px;
}

.toolbar {
    -fx-background-color: #ffffff;
}

.list-title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-spacing: 20px;
}

.search-bar {
    -fx-background-color: #ffffff;
    -fx-border-color: #c0c0c0;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
}

.search-button {
    -fx-background-color: #ffffff;
    -fx-border-color: #c0c0c0;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;

}

.search-button:hover {
    -fx-cursor: hand;
    -fx-background-color: #f0f0f0;
}


