.form-label {
<<<<<<< HEAD
  -fx-font-size: 20px;
  -fx-font-weight: 600;
}

.form-title {
  -fx-text-align: center;
  -fx-font-size: 40px;
  -fx-padding-top: 10px;
  -fx-padding-bottom: 10px;
  -fx-color: blue;
=======
    -fx-font-size: 20px;
    -fx-font-weight: 600;
}

.form-title {
    -fx-text-align: center;
    -fx-font-size: 40px;
    -fx-padding-top: 10px;
    -fx-padding-bottom: 10px;
    -fx-color: blue;
>>>>>>> bc9bb3977e0b1f661eb76fc199b3fb7cb25de5f4
}