.form-container {
    -fx-background-color: white;
    -fx-padding: 40px 60px;
}

.title-container {
    -fx-padding: 0px 0px 20px 0px;
    -fx-alignment: CENTER;
}

.form-label {
    -fx-width: 100%;
    -fx-margin-top: 8px;
    -fx-margin-bottom: 4px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.form-title {
    -fx-text-align: center;
    -fx-font-size: 27px;
    -fx-font-weight: bold;
}

.auth-button {
    -fx-background-color: #3A3FD6;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-padding: 10px 40px;
    -fx-border-radius: 8px;
    -fx-cursor: hand;
}

.auth-button:hover {
    -fx-background-color: #2C2FAC;
}

.auth-link {
    -fx-text-fill: #3A3FD6;
    -fx-font-size: 15px;
}