.plan-label {
    -fx-alignment: top-right;
    -fx-text-alignment: right;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.organization-content-container {
    -fx-padding: 20px;

}

.organization-common-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* Custom Roles */
.parent-row {
    -fx-background-color: #f0f0f0; /* Light gray background */
    -fx-border-color: transparent transparent #d0d0d0 transparent; /* Border at the bottom */
    -fx-border-width: 1;
    -fx-padding: 5px; /* Add padding for visual comfort */
}
