.good-label {
    -fx-text-fill: #4CAF50;
}

.average-label {
    -fx-text-fill: #FFEB3B;
}

.bad-label {
    -fx-text-fill: #F44336;
}

.good-arc {
    -fx-stroke: #4CAF50;
    -fx-stroke-width: 5;
}

.below-average-arc {
    -fx-stroke: #FF7934;
    -fx-stroke-width: 5;
}

.above-average-arc {
    -fx-stroke: #FFC107;
    -fx-stroke-width: 5;
}

.bad-arc {
    -fx-stroke: #F44336;
    -fx-stroke-width: 5;
}
