.settings-tab-container {
    -fx-padding: 20px 40px;
}

.toggle-button {
    -fx-background-color: #f3f4f5;
    -fx-border-color: #d0d0d0;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-padding: 5 10 5 10;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.toggle-button:selected {
    -fx-background-color: #006AEE;
    -fx-text-fill: white;
}

.settings-section-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10 0 10 0;
}

.settings-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

/* Switch */
/* Style for the toggle button */
/* General styling for the toggle button */
.jfx-toggle-button {
    -fx-padding: 0;
}

/* Specific styling for the sliding thumb and track in both states */
.jfx-toggle-button .jfx-toggle-node {
    -fx-background-radius: 15; /* Optional: Adjust as per your design needs */
    -fx-background-color: transparent; /* Makes background transparent */
}

.jfx-toggle-button:selected .jfx-toggle-node {
    -fx-background-color: #006AEE; /* Your specified blue color for "On" state */
}

.jfx-toggle-button .jfx-rippler {
    -fx-rippler-fill: transparent; /* Remove the ripple effect on click */
}

.jfx-toggle-button:selected .jfx-rippler {
    -fx-rippler-fill: #006AEE; /* Consistent with the toggle's "On" state color */
}

.jfx-toggle-button .jfx-toggle-color {
    -fx-background-color: #cce4ff; /* Lighter blue for the track */
}

.jfx-toggle-button:selected .jfx-toggle-color {
    -fx-background-color: #006AEE; /* ON state color for the track */
}
