.settings-tab-container {
    -fx-padding: 20px 40px;
}

.toggle-button {
    -fx-background-color: #f3f4f5;
    -fx-border-color: #d0d0d0;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-padding: 5 10 5 10;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.toggle-button:selected {
    -fx-background-color: #006AEE;
    -fx-text-fill: white;
}

.settings-section-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 10 0 10 0;
}

.settings-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.custom-switch {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #c0c0c0;
    -fx-border-width: 1;
}

.switch-select-item {
    -fx-padding: 4px 8px;
    -fx-background-color: #efeeef;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.switch-select-item-selected {
    -fx-padding: 4px 8px;
    -fx-background-color: #006AEE;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-cursor: hand;
}
