.sidebar {
    -fx-background-color: #000000;
    -fx-border-color: #333;
    -fx-spacing: 24px;
}

.sidebar-inner-container {
    -fx-padding: 24px;
}

.sidebar-title {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
}

.sidebar-button {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: 600;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-min-height: 40;
    -fx-max-height: 48;
    -fx-alignment: baseline-left;
    -fx-graphic-text-gap: 16px;
    -fx-cursor: hand;
}

.sidebar-button:hover {
    -fx-background-color: #39393b;
}
